:root{
    --first-color: #EB5E28;
    --second-color: #FFFAEB;
    --thirt-color: #CCC5B9;
    --fourth-color: #F39E7C;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--second-color);
    height: 100vh;
}
aside{
    background-color: var(--first-color);
    width: 240px;
    padding: 20px;
}
aside .title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
aside .title a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 25px;
    font-weight: 600;
    color: var(--second-color);
}
aside .title img{
    width: 45px;
    margin-right: 25px;
}
.menu{
    color: var(--second-color);
}
.menu h2{
    text-transform: lowercase;
    font-size: 18px;
    margin-bottom: 0;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    margin-left: 20px;
    padding: 10px;
}
.menu ul li:hover{
    background-color: var(--fourth-color);
}
.menu ul li i{
    margin-right: 15px;
}
.menu ul li a{
    text-decoration: none;
    color: var(--second-color);
}
aside .profile{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
aside .profile .imgs{
    width: 50px;
    height: 50px;
    
    margin-right: 18px;
}
aside .profile .imgs img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
aside .profile .info-prof{
    color: var(--second-color);
    text-align: center;
}
aside .profile .info-prof h5{
    font-size: 16px;
    padding-bottom: 5px;
}